In [1]:
import pandas as pd 
import numpy as np
from sklearn.linear_model import LogisticRegression

In [ ]:
train_df = pd.read_csv('train_LZdllcl.csv')
test_df = pd.read_csv('test_2umaH9m.csv')

train_df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [3]:
train_df.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [4]:
print("In train_df:")
for col in train_df.columns:    
    if train_df[col].isnull().values.any():
        print("# {}".format(col))
        
print("\nIn test_df:")
for col in test_df.columns:    
    if train_df[col].isnull().values.any():
        print("# {}".format(col))

In train_df:
# education
# previous_year_rating

In test_df:
# education
# previous_year_rating

# Let's fix missing values issue for 'education' column

In [5]:
# lets check which value of education has heighest frequency
train_df['education'].value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [6]:
# As shown above "Bachelor's" have heighest frequecy in education column
# So we can replace all nan value of education col by "Bachelor's"
train_df['education'].replace(to_replace = np.nan, value ="Bachelor's", inplace=True) 

# Re-Check if there is any nan value exist 
train_df['education'].isnull().values.any()

False

Same process for test_df

In [7]:
# lets check which value of education has heighest frequency
test_df['education'].value_counts()

Bachelor's          15578
Master's & above     6504
Below Secondary       374
Name: education, dtype: int64

In [8]:
# As shown above "Bachelor's" have heighest frequecy in education column
# So we can replace all nan value of education col by "Bachelor's"
test_df['education'].replace(to_replace = np.nan, value ="Bachelor's", inplace=True) 

# Re-Check if there is any nan value exist 
test_df['education'].isnull().values.any()

False

# Let's fix missing values issue for 'previous_year_rating' column

In [9]:
# lets check which value of previous_year_rating has heighest frequency
train_df['previous_year_rating'].value_counts()

3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

In [10]:
# As shown above 3.0 have heighest frequecy in previous_year_rating column
# So we can replace all nan value of previous_year_rating col by 3.0
train_df['previous_year_rating'].replace(to_replace = np.nan, value =3.0, inplace=True) 

# Re-Check if there is any nan value exist 
train_df['previous_year_rating'].isnull().values.any()

False

Same process for test_df

In [11]:
# lets check which value of previous_year_rating has heighest frequency
test_df['previous_year_rating'].value_counts()

3.0    7921
5.0    5097
4.0    4249
1.0    2680
2.0    1731
Name: previous_year_rating, dtype: int64

In [12]:
# As shown above 3.0 have heighest frequecy in previous_year_rating column
# So we can replace all nan value of previous_year_rating col by 3.0
test_df['previous_year_rating'].replace(to_replace = np.nan, value =3.0, inplace=True) 

# Re-Check if there is any nan value exist 
test_df['previous_year_rating'].isnull().values.any()

False

# Now as all the missing fields are populated, Then lets encode the Labeled data

In [13]:
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()

for col in train_df.columns[1:6]:
    train_df[col] = encoder.fit_transform(train_df[col])
    test_df[col] = encoder.transform(test_df[col])

In [14]:
# df.no_of_trainings.value_counts()
# X = df[[:-2]]
# y = df[[-1]]
# df.iloc[ : , ]

X = train_df.loc[:, train_df.columns[1]:train_df.columns[-2]]
Y = train_df.iloc[:, -1]

In [15]:
clf = LogisticRegression(random_state=0)
lr = clf.fit(X, Y)

/home/gst-10095/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [16]:
lr.score(X,Y)

0.9172018683403883

In [17]:
y_pred = lr.predict(test_df.loc[:, test_df.columns[1]:])

In [18]:
unique_elements, counts_elements = np.unique(y_pred, return_counts=True)
print("Frequency of unique values of the said array:")
print(np.asarray((unique_elements, counts_elements)))

Frequency of unique values of the said array:
[[    0     1]
 [23267   223]]

In [19]:
ouput_df = pd.DataFrame(columns=['employee_id', 'is_promoted'])

ouput_df['employee_id'] = test_df['employee_id']
ouput_df['is_promoted'] = y_pred

ouput_df.to_csv('ouput.csv')